/* Override bootstrap ==> */
hr {
  border-bottom-color: #c5c5c5;
}

.navbar .nav > li > a {
  font-size: 110%;
}

.navbar .nav > li > a:hover {
  text-decoration: underline;
}

.table thead th {
  background: #cbe3e7;
  color: #70696b;
}

/* <== Override bootstrap */

body {
  background: url(../img/bg-main.png) repeat left top #e3e3e3;
}

.text-pull-right {
  text-align: right;
}

.text-pull-center {
  text-align: center;
}
.text-pull-left {
  text-align: left;
}

.header-inner,
.wrapper,
.footer-inner {
  margin: 0 auto;
  padding: 10px;
  width: 940px;
}

.wrapper {
  margin: 30px auto;
  padding: 0;
}

.header-inner {
  padding-bottom: 0;
}

#main {
  background: rgba(255, 255, 255, .8);
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px #231f20;
  min-height: 400px;
}

#main .span11 {
  padding: 20px 40px 10px 40px;
}

.main-content {
  margin-bottom: 120px;
}

.main-content dt {
  font-size: 120%;
}

.main-content dd {
  margin-bottom: 1em;
}

header {
  background: url(../img/bg-header.png) repeat left top #9cbcc7;
  box-shadow: 0 0 8px #231f20;
}

header .navbar {
  margin-bottom: 0;
}

header h1,
header a.brand {
  color: #fff;
  text-shadow: 1px 1px 4px #aaa;
}

footer {
  background: url(../img/bg-footer.png) repeat left top #e25644;
  color: #fff;
}

footer p {
  margin-bottom: 0;
}
